[Unit]
Description=An Answer to your Wayland Wallpaper Woes
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=awww-daemon
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
