# Adapted from /usr/lib/systemd/user/waybar.service
[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=%i.service
After=%i.service
Requisite=%i.service

[Service]
ExecStart=/usr/bin/waybar --config %h/.config/waybar/config.%i
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=%i.service
