[submodule ".dwm"]
	path = .dwm
	url = git@github.com:BBaoVanC/.dwm.git
	branch = master
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/BBaoVanC/ranger_devicons
	branch = lowercase-dirs
[submodule ".xmonad"]
	path = .xmonad
	url = git@github.com:BBaoVanC/.xmonad.git
	branch = master
[submodule "programs/st"]
	path = programs/st
	url = git@github.com:BBaoVanC/st.git
	branch = master
[submodule "programs/dmenu"]
	path = programs/dmenu
	url = git@github.com:BBaoVanC/dmenu.git
	branch = master
