[user]
	name = BBaoVanC
	email = bbaovanc@bbaovanc.com
	signingKey = CB7CCED9209E47B9B99B8E1D18089E4E3CCF1D3A
[core]
	editor = nvim
[commit]
	gpgsign = true
	verbose = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[alias]
	graph = log --oneline --graph
	isolog = log --date=iso-strict
	# see https://stackoverflow.com/a/4991675
	fork-point = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
[pull]
	ff = only

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@git.bbaovanc.com/"]
	insteadOf = https://git.bbaovanc.com/
[url "ssh://git@git.boba.best/"]
	insteadOf = https://git.boba.best/
[tag]
	gpgSign = true
[init]
	defaultBranch = master
