/* TODO: depends on creation of a light mode bobascheme
@import url("../../.local/share/bobascheme/gtk/bobascheme-light.css");
*/
@import url("../../.local/share/bobascheme/gtk/bobascheme.css");

@define-color bar-background #fff;

@import url("style.css");
