# Inspired by https://castel.dev/post/lecture-notes-1/#latex-snippets

snippet env "begin{} / end{}" b
\begin{$1}
$0
\end{$1}
endsnippet

snippet mk "inline math" w
\($0\)
endsnippet
snippet dm "display math" w
\[$0\]
endsnippet
